<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- spring工具类 方便在非spring管理环境中获取bean -->
    <bean id="springUtils" class="org.cunframework.modules.common.utils.SpringUtils"/>
	<bean id="springContextHolder" class="org.cunframework.modules.common.utils.SpringContextHolder"/>
</beans>
